.grillaFooter{
    display: grid;
    grid-template-columns:272px 272px 272px 272px;
    grid-template-rows:  15px 300px 50px;
    grid-template-areas:"a0 a0 a0 a0"
                        "a1 a2 a3 a4"
                        "a5 a5 . .";
    column-gap: 52px;
    margin-right: 99px;
    margin-left: 99px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;
    
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FCD9CF;
    border-top-style: solid ;
    border-top-color: #E7B765;
    border-top-width:25px;
    border-bottom-style: solid;
    border-bottom-color:#FFC0AF;
    border-bottom-width:50px;
    height:375px;
    width: 100%;
    padding-top: 35px;
}

.footerTop{
    grid-area: a0;
    display: flex;
    flex-wrap: nowrap;
    background-color:transparent;
    background-size: contain;
    width: 100%;
    color: white;
}

.footerLogo{
    grid-area:a1;
    background-color:transparent;
    background-size: contain;
    height: 245px;
    width: 245px;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
    padding-bottom: 95px;
    img{
        width: 245px;
        object-fit: scale-down;
        position: static;
    }
    
}
.menuFooter{
    grid-area: a2;
    width: 100%;
    padding: 20px;
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: left;
        font-family:'Montserrat', sans-serif;
        width: 200px;
        margin: 5px;
    }
    ul li h3{
        color: $mainColor;
        font-weight: 700;
        font-size:24px;
    }
    ul li a{

        text-decoration: none;
        color: $mainColor;
        font-weight: 400;
        font-size:16px;
    }
    ul li{

        list-style-type: none;
        padding: 5px;
        align-items: center;
        text-align: left;
    }
    ul li a:hover {
        color: $secondColor;
    }

}

.redesFooter{
    grid-area: a3;
    width: 100%;
    padding-bottom: 100px;
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: left;
        font-family:'Montserrat', sans-serif;
        width: 200px;
        margin: 5px;
    }
    ul li h3{
        color: $mainColor;
        font-weight: 700;
        font-size:24px;
    }
    ul li a{

        text-decoration: none;
        color: $mainColor;
        font-weight: 400;
        font-size:16px;
    }
    ul li{

        list-style-type: none;
        padding: 5px;
        align-items: center;
        text-align: left;
    }
    ul li a:hover {
        color: $secondColor;
    }

}

.footer button{
    background-color: #FFA3A6;
    border: none;
    border-radius:8px;
    color: $mainColor;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
    height:55px;
    width:165px;
    transition-duration: 0.4s;    
}
.footer button:hover{
    background-color: #FFC0C2;
    color: $mainColor;
}
.footerBottom{
    grid-area: a5;
   p{
        color: $mainColor;
        font-family:'Montserrat', sans-serif;
        font-weight:400;
        font-size:14px; 
        margin-top: 0;
        margin-bottom: 0 !important;
        padding-top: 14px;
    }
}