@mixin titulos( $bgColor , $colorLetra , $tamanio ){
 
    background-color:$bgColor;
    color: $colorLetra ;
    @if $tamanio == "sm"{
        font-size:65px;
        font-weight: bold;
        display: flex;
        flex-wrap: nowrap;
        padding:10px;
        font-family: 'Source code pro', sans-serif ;
        align-content: center;
        align-items:center;
        text-align: left;
        text-shadow: 2px 2px 5px #2424242b;
    }
    @else if $tamanio == "md"{
        font-size:80px;
        text-align: center;
        font-weight: bold;
        display: flex;
        flex-wrap: nowrap;
        padding:10px;
        font-family: 'Source code pro', sans-serif ;
        align-content: center;
        align-items:center;
        text-shadow: 2px 2px 5px #2424242b;
    }
}
 
.tituloInicio{
    @include titulos(#F0F0E7, #DD6237,"md");
}
.tituloWorks{
    @include titulos(#F0F0E7, #DD6237, "md");
}
.tituloProjects{
    @include titulos(#F0F0E7,#DD6237, "md");
}
.tituloContact{
    @include titulos(#F0F0E7, #DD6237, "sm");
}
.tituloAbout{
    @include titulos(#F0F0E7, #DD6237, "md");
}


@mixin botones( $bgColor , $colorLetra , $tamanio ){
 
    background-color:$bgColor;
    color: $colorLetra;
    @if $tamanio == "sm"{
        width: 96px;
        height: 44px;
        border-radius:8px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
    }
    @else if $tamanio == "md"{
        width: 165px;
        height: 55px;
        border-radius:8px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
    }
}
.btnPrimary{
    @include botones( #738566 , white , "sm")
}
.btnInicio{
    @include botones( #738566 , white , "md")
}




