.intro{
    grid-area: a1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
    
    p{
        color:$textColor;
        font-size:18px ;
        font-family:'Montserrat', sans-serif;;
        align-items:center;
        padding: 10px;
        position: relative;
        width: 300px;
    }
    button{       
        transition-duration: 0.4s;
        :hover{
            background-color: #C1D1B6;
            color: white;
        }
    }
    
}

.rubros{
    grid-area: a3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center; 
    h2{
        font-size:40px;
        font-family:'Source code pro', sans-serif;
        font-weight:bold;
        color: $thirdColor;
        padding: 10px;
        text-shadow: 2px 2px 5px #2424243d;
    }
    p{
        color:$textColor;
        font-size:18px ;
        font-family:'Montserrat', sans-serif;;
        width: 100%;
    }
}

.foto1{
    grid-area: a4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $fondoRubros;
    background-size: contain;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img{
        width: 250px;
        object-fit: scale-down;
        padding: 20px 50px 20px 50px;    
    }
    h2{
        font-size:20px;
        font-family:'Source code pro', sans-serif;
        color: $thirdColor;
        padding: 10px;
        text-shadow: 2px 2px 5px #2424243d;
    }
    button{
            background-color: #DD6237;
            border: none;
            border-radius:8px;
            color: $mainColor;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-family:'Montserrat', sans-serif;
            font-size: 16px;
            height:40px;
            width:130px;
            transition-duration: 0.4s;  
            color: white;  
        }
    }


.foto2{
    grid-area: a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $fondoRubros;
    background-size: contain;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img{
        width: 250px;
        object-fit: scale-down;
        padding: 20px 50px 20px 50px;    
    }
    h2{
        font-size:20px;
        font-family:'Source code pro', sans-serif;
        color: $thirdColor;
        padding: 10px;
        text-shadow: 2px 2px 5px #2424243d;
    }
    button{
        background-color: #DD6237;
        border: none;
        border-radius:8px;
        color: $mainColor;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
        height:40px;
        width:130px;
        transition-duration: 0.4s;  
        color: white;  
    }
}
.foto3{
    grid-area: a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $fondoRubros;
    background-size: contain;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img{
        width: 250px;
        object-fit: scale-down;
        padding: 20px 50px 20px 50px;    
    }
    h2{
        font-size:20px;
        font-family:'Source code pro', sans-serif;
        color: $thirdColor;
        padding: 10px;
        text-shadow: 2px 2px 5px #2424243d;
    }
    button{
        background-color: #DD6237;
        border: none;
        border-radius:8px;
        color: $mainColor;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
        height:40px;
        width:130px;
        transition-duration: 0.4s;  
        color: white;  
    }
}

.foto4{
    grid-area: a7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: $fondoRubros;
    background-size: contain;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img{
        width: 250px;
        object-fit: scale-down;
        padding: 20px 50px 20px 50px;    
    }
    h2{
        font-size:20px;
        font-family:'Source code pro', sans-serif;
        color: $thirdColor;
        padding: 10px;
        text-shadow: 2px 2px 5px #2424243d;
    }
    button{
        background-color: #DD6237;
        border: none;
        border-radius:8px;
        color: $mainColor;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family:'Montserrat', sans-serif;
        font-size: 16px;
        height:40px;
        width:130px;
        transition-duration: 0.4s;  
        color: white;  
    }
}