
@media screen and (max-width: 600px) {
/*header*/
.menuHeader ul {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 80%;
}
.logo{
width: 25%;
margin-left: 5px;
}
.logo a img{
width: 150px;
object-fit: scale-down;
}
/* footer */
.grillaFooter{
    display: grid;
    grid-template-columns:80%;
    grid-template-rows: 15px 25px 70px 25px 180px 120px 100px 65px ;
    grid-template-areas:"a0"
                        "."    
                        "a1"
                        "."
                        "a2"
                        "a3"
                        "a4"
                        "a5";
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;    
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top-width:15px;
    border-bottom-width:50px;
    height:600px;
    width: 100%;    
}
.footerLogo{
    padding: 5px;
    align-items: center;
    a{
        align-items: center;
        height:fit-content;
    }
    img{
        width:150px;
        object-fit: scale-down;
        position: static;
    }  
}
.menuFooter{
    width: 60%;
    height: fit-content;
    padding:5px;
    ul{
        font-family:'Montserrat', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    ul li{
        padding: 1px;
    }
    ul li h3{
        font-size:90%;
        width: fit-content;
        padding: 1px;
    }
    ul li a{
        font-size:70%;
        width: fit-content;
        padding: 1px;
    }
}

.redesFooter{
    width: 60%;
    padding:5px;
    ul{
        font-family:'Montserrat', sans-serif;
        margin: 0px;
        padding: 0px;
    }
    ul li{
        padding: 1px;
    }
    ul li h3{
        font-size:90%;
        width: fit-content;
        padding: 1px;
    }
    ul li a{
        font-size:70%;
        width: fit-content;
        padding: 1px;
    }

}
.btnFooter{
    padding: 5px;
}
.footer button{ 
    height: 45px;
    width: 150px;
    font-size: medium; 
}
.footerBottom{ 
    flex-wrap: nowrap;  
   p{
        font-size:10px; 
        margin-top: 0;
        margin-bottom: 0 !important;
    }
}
/* inicio */
.intro{
    flex-direction: column;
    height: 650px;
    .titulos{
        width: 90%;
        .tituloInicio{
        font-size: 50px;
    }
    }
    .descripcion{
        width: 90%;
    }
    .botones{
        padding-left: 145px;
    }
}
.aboutRubros{
    height: 1300px;
    .rubrosTitulo{
        width: 100%;
    }
    .rubrosTipos{

    flex-direction: column;
    gap: 20px;
    .foto1{
        width: 100%;
    }
    .foto2{
        width: 100%;
    }
    .foto3{
        width: 100%;
    }
    }
}

/* sobre mi */
    .mainAbout{
        flex-direction: column;
        height: 1100px;
        padding: 20px 30px 20px 30px;
    }
    .about{
        width: 100%;
        height: 700px;
        padding: 0px;
    }
    .about h1{
        font-size:50px;
    }
    .about p{
        font-size:15px;
        width: 100%;
    }
    .fotoAbout{
        width: 50%;
        height: 400px;
    }
    .fotoAbout img{
        width: 250%;
        height:400px;
        box-shadow:none;
    }
    
    .mainUbicacion {
        width: 100%;
    }
    .mainUbicacion h2{
        font-size:25px;
    }
    .mainUbicacion p{
        font-size:15px ;
        width: 80%;
    }
    .mainUbicacion iframe{
        width: 80%;
        height: 200px;
    }

    
/* trabajos/proyectos */
.grillaGaleria {
    display: grid;
    grid-template-columns:100%;
    grid-template-areas: 
    "a1" 
    "a1"
    "a1"
    "a2" 
    "a3"
    "a4" 
    "a5"
    "a6" 
    "a7";
    gap: 20px;
    align-content: space-around;
    justify-content: center;
} 
.introProyectos h1{
    width: 90%;
    font-size:300%;
}
.introProyectos p{
    width: 90%;
    font-size:90%;
}
.work1 img{
    height: 100%;
    object-fit: scale-down; 
}
.work1 h2{
    font-size:15px;
}
.work2 img{
    height: 100%;
    object-fit: scale-down; 
}
.work2 h2{
font-size:15px;
}
.work3 img{
    height: 100%;
    object-fit: scale-down; 
}
.work3 h2{
    font-size:15px;
}
.work4 img{
    height: 100%;
    object-fit: scale-down; 
}
.work4 h2{
    font-size:15px;
}
.work5 img{
    height: 100%;
    object-fit: scale-down; 
}
.work5 h2{
    font-size:15px; 
}
.work6 img{
    height: 100%;
    object-fit: scale-down; 
}
.work6 h2{
    font-size:15px;
}

/* contacto */
.mainFormulario{
    height:500px;
}
.aboutFormulario{
    width: 80%;
    height: 450px;
    flex-direction: column;
    gap:30px;
}
.aboutFormulario h1{
    font-size:40px;
    text-align: center;
    width: 100%;
}
.aboutFormulario p{
    font-size:15px ;
    width: 100%;
}

.g-3{
    width: 330px;
}
}

@media screen and (min-width: 600px) and (max-width:1239px){
/*header*/
.menuHeader ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 25%;
    margin-left: 5px;
}
.logo a img{
    width: 150px;
    object-fit: scale-down;

}
/* footer */
.grillaFooter{
    display: grid;
    grid-template-columns:25% 20% 20% 35%;
    grid-template-areas:"a0 a0 a0 a0"
                        "a1 a2 a3 a4"
                        "a5 a5 a5 .";
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-around;    
}
.footer{
    width: 100%;
}
.footerLogo{
    width:100%;
    align-items: center;
    padding-left: 30px;
    img{
        width: 100%;
        object-fit: scale-down;
        position: static;
    }  
}
.menuFooter{
    width: 100%;
    padding:none;    
    ul{
        font-family:'Montserrat', sans-serif;
    }
    ul li h3{
        font-size:100%;
    }
    ul li a{
        font-size:100%;
    }
}
.redesFooter{
    width: 150px;
    padding:none;    
    ul{
        font-family:'Montserrat', sans-serif;
    }
    ul li h3{
        font-size:100%;
    }
    ul li a{
        font-size:100%;
    }
}
.footer button{ 
    font-size: 15px;
    height:50px;
    width:130px;
}
.footerBottom{
   
   p{
        font-size:12px; 
        margin-top: 0;
        margin-bottom: 0 !important;
    }
}
/* inicio */
.intro{
    flex-direction: column;
    width: 80%;
    height: 550px;
    margin-left: 85px;
    margin-right: 85px;
    .titulos{
        width: 90%;
        .tituloInicio{
        font-size: 50px;
    }
    }
    .descripcion{
        width: 90%;
    }
    .botones{
        padding-left: 65%;
    }
}
.aboutRubros{
    height: 1300px;
    .rubrosTitulo{
        width: 100%;
    }
    .rubrosTipos{
    width: 50%;
    flex-direction:column;
    gap: 20px;
    .foto1{
        width: 100%;
    }
    .foto2{
        width: 100%;
    }
    .foto3{
        width: 100%;
    }
    }
}

/* trabajos/proyectos */
.grillaGaleria {
display: grid;
grid-template-columns:50% 50%;
grid-template-areas: 
"a1 a2"
"a3 a4" 
"a5 a6";
align-content: space-around;
justify-content: center;
} 
.introProyectos h1{
font-size:60px;

}
.introProyectos p{
font-size:15px ;
}
.work1 img{
height: 100%;
object-fit: scale-down; 
}
.work1 h2{
font-size:15px;
}
.work2 img{
height: 100%;
object-fit: scale-down; 
}
.work2 h2{
font-size:15px;
}
.work3 img{
height: 100%;
object-fit: scale-down; 
}
.work3 h2{
font-size:15px;
}
.work4 img{
height: 100%;
object-fit: scale-down; 
}
.work4 h2{
font-size:15px;
}
.work5 img{
height: 100%;
object-fit: scale-down; 
}
.work5 h2{
font-size:15px;
}
.work6 img{
height:100%;
object-fit: scale-down; 
}
.work6 h2{
font-size:15px;
}

/* sobre mi */
.mainAbout{
width: 95%;
height: 700px;
}
.about{
    width: 80%;
    height: 518px;
}
.about h1{
font-size:50px;
}
.about p{
color:$textColor;
font-size:15px;
width: 80%;
}
.fotoAbout{
height: 100%;
width: 60%;
padding: 5px;

}
.fotoAbout img{
width: 100%;
height: 100%;
box-shadow:none;
}
.mainUbicacion {
width: 100%;
height:450px;
}
.mainUbicacion h2{
font-size:25px;
}
.mainUbicacion p{
font-size:15px ;
}
.mainUbicacion iframe{
width:400px;
height:200px;
}
/* contacto */
.mainFormulario{
width:100%;
height:350px;
}
.aboutFormulario{
width:90%;
flex-direction: row;
h1{
    text-align:left;
    font-size: 250%;
}
p{
    width:100%;
}
}

}