
/*Colores*/
$mainColor:#DD6237;
$secondColor:#EDC3AD;
$thirdColor:#627158;
$fourthColor:#E7B765;
$fondoRubros:#d2d1b6;
$textColor:#414141;
$buttonUnoColor:#627158;
$buttonDosColor:#DD6237;
$buttonTresColor:#FFA3A6;


/*tipografias*/

