
/*Colores*/
$mainColor:#DD6237;
$secondColor:#EDC3AD;
$thirdColor:#627158;
$fourthColor:#E7B765;
$fondoRubros:#d2d1b6;
$fondoSegSeccion:#BCC1AB80;
$footerHovers:#FCD9CF;
$textColor:#414141;
$tipoRubro:#FFA3A6;


/*tipografias*/

